extends layout

block navbar
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        a(class="navbar-brand" href="#") #{title}
      ul.nav.navbar-nav
        li
          a(href="#") Home
          li
            a(href="#") Log In
          li
            a(href="#") Sign Up
